.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  width: 1184px;
  height: auto;
  margin: 114px auto 92px auto;
  padding: 0;
}

@media screen and (max-width: 1260px) {
  .photo-grid {
    width: 928px;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    margin-top: 92px;
  }
}

@media screen and (max-width: 1000px) {
  .photo-grid {
    width: 720px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 88px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 750px) {
  .photo-grid {
    width: 288px;
    grid-template-columns: 1fr;
    gap: 12px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}