.place__image {
  grid-area: place__image;
  margin: 0;
  padding: 0;
  width: 460px;
  object-fit: contain;
}

@media screen and (max-width: 1260px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 1000px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 750px) {
  .place__image {
    max-width: 320px;
  }
}