.lead {
  display: flex;
  flex-direction: column;
  width: 984px;
  margin: 56px auto 0 auto;
  padding: 0;
}

@media screen and (max-width: 1260px) {
  .lead {
    max-width: 90.6vw;
    margin-top: 48px;
  }
}

@media screen and (max-width: 780px) {
  .lead {
    max-width: 100%;
  }
}