.photo-grid__item {
  width: 284px;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1260px) {
  .photo-grid__item {
    width: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .photo-grid__item {
    width: 352px;
  }
}

@media screen and (max-width: 750px) {
  .photo-grid__item {
    width: 288px;
  }
}