.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1184px;
  margin: 28px auto 0 auto;
  padding: 0;
}

@media screen and (max-width: 1260px) {
  .header {
    max-width: 90.6vw;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    max-width: 93.75vw;
  }
}

@media screen and (max-width: 750px) {
  .header {
    max-width: 90vw;
    margin-top: 16px;
  }
}