.lead__image {
    object-fit: contain;
    margin: 64px 0 0 0;
}

@media screen and (max-width: 1260px) {
    .lead__image {
        margin: 56px 0 0 0;
    }
}

@media screen and (max-width: 750px) {
    .lead__image {
        margin: 40px 0 0 0;
    }
}