.intro {
  display: flex;
  flex-direction: column;
  width: 690px;
  margin: 70px auto 0 auto;
  padding: 0 294px 0 0;
}

@media screen and (max-width: 1260px) {
  .intro {
    margin-top: 92px;
    padding-right: 238px;
  }
}

@media screen and (max-width: 1000px) {
  .intro {
    width: 93.75%;
    margin-top: 88px;
    padding-right: 0;
  }
}

@media screen and (max-width: 750px) {
  .intro {
    width: 90%;
    margin-top: 64px;
  }
}