.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 92px auto 24px auto;
  padding: 0;
  width: 1184px;
}

@media screen and (max-width: 1260px) {
  .footer {
    margin-top: 77px;
    width: 928px;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    margin-top: 88px;
    width: 720px;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
    margin-top: 64px;
    width: 186px;
    padding-right: 134px;
  }
}