.header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 18px;
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  .header__list {
    gap: 14px;
  }
}